<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Created by awitrisna on 2013-11-15.
  ~ Copyright (c) 2013 CA Technologies. All rights reserved.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ca.apim.mag.enterprise"
          android:versionCode="1"
          android:versionName="1.0"
          android:sharedUserId="com.ca.apim.mag.shared"
          android:sharedUserLabel="@string/sharedUserLabel">
    <uses-sdk android:minSdkVersion="16" android:targetSdkVersion="18"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application android:icon="@drawable/enterprise_icon">

        <activity android:name="com.ca.apim.mag.enterprise.ExampleActivity"
                  android:theme="@android:style/Theme.Holo"
                  android:label="Rent-A-Car"
                  android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="camsso" android:host="com.camsso.appa" />
            </intent-filter>
        </activity>
        <activity android:name="com.ca.apim.mag.enterprise.CustomLogonActivity"
            android:theme="@android:style/Theme.Holo.Dialog"
            android:exported="false">
            <intent-filter>
                <action android:name="com.ca.mas.core.service.action.OBTAIN_CREDENTIALS"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name="com.ca.mas.core.service.MssoService" android:exported="false">
        </service>
    </application>
</manifest>
